<!--<nav>-->
  <!--<a routerLink="/about" routerLinkActive="active">About</a>-->
  <!--<button class="btn btn-primary btn-margin" (click)="auth.login()" *ngIf="!auth.authenticated()">Log In</button>-->
  <!--<button class="btn btn-primary btn-margin" (click)="auth.logout()" *ngIf="auth.authenticated()">Log Out</button>-->
<!--</nav>-->
<nav class="container">
  <div class="logo">
    <a href="/">
      <h3 class="title">workremote.io</h3>
    </a>

  </div>
  <a routerLink="/about" routerLinkActive="active">About</a>
  <button class="primary-btn pull-lg-right">Login</button>
</nav>


