/* You can add global styles to this file, and also import other style files */
*, *:before, *:after {
  box-sizing: border-box;
}

$bg-gradient-from: #394b62;
$bg-gradient-to: #202d3c;
$green-button-gradient-from: #71ddca;
$green-button-gradient-to: #53c0b5;
$grey-text: #626f7f;


body {
  font-family: 'Roboto', sans-serif;

  /* will be "on top", if browser supports it */
  background-image: linear-gradient($bg-gradient-from, $bg-gradient-to);
  min-height: 1450px;
}

.wr {
  h1, h2, h3, h4, h5 {
    font-family: 'Roboto', sans-serif;
    color: white;
  }

  @keyframes highlight-button-in {
    0%{
      background-position:0% 96%
    }
    100%{
      background-position:100% 5%
    }
  }

  @keyframes highlight-button-out {
    0%{
      background-position:100% 5%
    }
    100%{
      background-position:0% 96%
    }
  }

  button {
    &.primary-btn {
      background-image: linear-gradient(240deg, #f2c53b, $green-button-gradient-from);
      background-size: 400% 400%;
      border: none;
      border-radius: 40px;
      color: white;
      padding: 5px;
      width: 124px;

      animation-duration: 1s;
      animation-name: highlight-button-out;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;

      &:hover {
        animation-duration: 1s;
        animation-name: highlight-button-in;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
      }
    }
  }

  a {
    color: white;
    &:hover {
      color: $green-button-gradient-to;
    }
  }

  p {
    color: $grey-text;
  }

}

